@font-face {
  font-family: 'Martian Grotesk';
  font-display: swap;
  src: url('@assets/fonts/MartianGrotesk.woff2') format('woff2');
  font-weight: 100 800;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Martian Mono';
  font-display: swap;
  src: url('@assets/fonts/MartianMono.woff2') format('woff2');
  font-weight: 100 800;
  /*font-stretch: 75% 150%;*/
}

@font-face {
  font-family: 'Transducer';
  font-display: swap;
  src: url("https://use.typekit.net/pwf8kms.css");
  /*font-weight: 100 800;*/ 
  /*font-stretch: 75% 150%;*/
}