/* Update this file to change the colors and the font */
@theme {
  --font-display: 'Transducer', 'sans-serif';

  /* https://oklch(0.2397 0.0937 294.88) */
  --clr-primary-chroma: 0.2397;
  --clr-primary-hue: 294.88;

  /* https://oklch(0.2397 0.0937 294.88) */
  --clr-secondary-chroma: 0.0937;
  --clr-secondary-hue: 294.88;
}
