/* Update this file to change the colors and the font */
@theme {
  --font-display: 'Martian Grotesk', 'sans-serif';

  /* https://oklch.com/#0.6122,0.2313,22.61,100 */
  --clr-primary-chroma: 0.2313;
  --clr-primary-hue: 22.61;

  /* https://oklch.com/#0.6804,0.034,261.69,100 */
  --clr-secondary-chroma: 0.034;
  --clr-secondary-hue: 261.69;
}
